{% extends "AkuInstaBundle::layout.html.twig" %}

{% block bodyclass %}login{% endblock %}

{% block content %}

    <h1>instagrApi</h1>

    <ul id="feed-thumbnails">
    {% for data in feed.data if data.type == 'image' %}
        <li>
            <a href="{{ data.link }}" target="_blank">
                <img src="{{ data.images.thumbnail.url }}" alt="" />
            </a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}